__pycache__/
*.py[codz]
*$py.class
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/
.hypothesis/
.coverage
.coverage.*
htmlcov/
build/
dist/
site/
.idea/
.vscode/
.cursorignore
.cursorindexingignore
.abstra/
.pixi/
.pdm-python
.pdm-build/
__pypackages__/
*.egg-info/
*.egg
.env.smtp
data/
reports/
logs/
